@(items: repository.ItemList, itemForm: Form[repository.Checkout])(implicit messages: Messages)

    @item(id: Option[String]) = @{
        items.getItem(java.lang.Long.parseLong(id.getOrElse("0")))
    }

    @itemName(id: Option[String]) = {
        @item(id) match {
         case Some(item) => { item.name }
         case None => { - }
        }
    }

    @itemQuantity(id: Option[String]) = {
        @item(id) match {
            case Some(item) => { item.quantity }
            case None => { - }

        }
    }

    @main("Shop - programming assignment") {
        <div id="available">
            <p>Currently available in out shop:</p>
            <ul>
            @for(item <- items.items) {
                <li>
                    <span class="item-name">@item.name</span>:
                    <span class="item-quantity">@item.quantity</span>
                </li>
            }
            </ul>
        </div>

        @helper.form(action = routes.HomeController.submit()) {
            Your shopping:
            @helper.repeat(itemForm("items"), min = 1) { row =>
                @helper.inputText(
                    row("quantity"),
                    '_label -> itemName(row("id").value),
                    'type -> "number",
                    'min -> 0,
                    'max -> itemQuantity(row("id").value).toString().trim,
                )

                @helper.input(row("id"), '_label -> None) { (id, name, value, args) =>
                    <input type="hidden" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
                }
            }

            <input type="submit" value="Buy!" />
        }
    }
